.main{
  width: 1200px;
  margin: 20px auto 0;
  padding: 0 15px;
}

.search-form {
  width: 1170px;
  height: 40px;
  display: flex;
  margin: 30px auto 0;
}
.input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  &::placeholder {
    text-align: center;
    color: black;
  }
  &:focus::placeholder{
    color: transparent;
  }
  box-sizing: border-box;
}

.send-btn {
  width: 150px;
  margin-left: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background: black;
  color: white;
  outline: none;
  transition: all 250ms cubic-bezier(.74,1.04,.13,.03);
  box-sizing: border-box;
}

.send-btn:hover  {
  color: black;
  background: white;
  border: 2px solid black;
}
.more {
  left: auto;
  display: block;
  margin: 0 auto 40px;
  height: 40px;
}