<div class='main'>
  <div class='div-form'>
    <form class="search-form" id="search-form">
      <input class='input' type="text" name="query" autocomplete="off" placeholder="Search images..." />
      <button type='submit' class='send-btn'>Send</button>
    </form>

  </div>
  <div class='pictures-box'>
    <ul class="gallery">
      <!-- Список <li> с карточками изображений -->
    </ul>
  </div>
  <button class='send-btn more' type='button'>more pictures</button>
</div>

<div class="lightbox js-lightbox">
  <div class="lightbox__overlay"></div>

  <div class="lightbox__content">
    <img class="lightbox__image" src="" alt="" />
  </div>
</div>